<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "cn.com.mapper.StudentPermissionMapper" >
    <!--权限配置-->
    <insert id="addPermission">
        INSERT INTO stu_permission
        (
            permission_guid,
            permission_type,
            to_group,
            to_person,
            effective_time,
            failure_time,
            createdBy,
            createddate
        )
        VALUES
        (
            UPPER(#{permissionGuid}),
            #{permissionType},
            #{toGroup},
            #{toPerson},
            #{effectiveTime},
            #{failureTime},
            #{createdBy},
            NOW()
        )
    </insert>
</mapper>