<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "cn.com.mapper.SwTestServiceWorkCustomerMapper" >
    <select id="getCustomerList" resultType="cn.com.pojo.SwTestServiceWorkCustomer">
        select * from sw_test_service_work_customer
    </select>
</mapper>